.atlas_form{
    background-color: rgb(126, 178, 247);
    color: white;
    padding: 5px;
}
td{
    border:1px solid white;
}
table{
    border: 2px solid white;
    padding: 5px;
    margin: 10px;
}
.category{
    color: red;
}
.info{
    color: red;
}
.quote{
    color: red;
}
button{
    color: red;
    background-color: white;
    margin: 10px;
}
.heading{
    color: red;
    background-color: white;
    width: fit-content;
    padding-left:50px;
    padding-right:75px;
    border-radius: 5px;
    margin: 10px;
   
}