form{
    color:blueviolet;
    border: 2px solid white;
    background-color: skyblue;
   
    border-radius: 5px;
    display: inline-block;
}


table{
    border: 2px solid rgb(104, 152, 181);
    margin-left: 20px;
    border-radius: 5px;
    background-color: gainsboro;
 
}
td{
    border: 2px solid  rgb(104, 152, 181);
    border-radius: 5px;
}
.adm,.pi,.pai{
    color: red;
}
h2{
    color: red;
    background-color: white;
    margin-left: 27px;
    margin-right: 35px;
    text-align: center;
}
button{
    color: white;
    background-color: red;
    margin-left: 20px;
    
}
